{{!--
SPDX-FileCopyrightText: 2022 Ethaks <ethaks@pm.me>

SPDX-License-Identifier: EUPL-1.2
--}}

<div class="tab spheres" data-group="{{dataGroup}}" data-tab="spheres">
  <div class="attribute-grid grid grid-6col">
    <span class="block-header sop-header flexrow">
      {{localize "PF1SPHERES.SpheresOfPower"}}
    </span>
    <span class="block-header som-header flexrow">
      {{localize "PF1SPHERES.SpheresOfMight"}}
    </span>
    {{#each attributeGrid as |element|}}
    <div class="{{element.attribute}} attribute tooltip">
      <span class="tooltipcontent">
        {{element.path}}: {{element.total}}
        {{#if element.sources.length}}<br><br>{{/if}}

        {{#each element.sources as |src|}}
        {{src.name}}: {{src.value}} <br>
        {{/each}}

        {{#if element.cappedSources.length}}<br>
        {{localize "PF1SPHERES.CappedByHD"}}: <br> {{/if}}
        {{#each element.cappedSources as |src|}}
        {{src.name}}: {{src.value}} <br>
        {{/each}}
      </span>
      <h4 class="attribute-name box-title {{element.rollable}}">{{element.label}}</h4>
      <span class="attribute-value large">{{element.total}}</span>
    </div>
    {{/each}}
  </div>
  <div class="sop-levels grid grid-6col" style="display: none">
    {{#each sphereCLs as |sphere|}}
    <div class="sphere tooltip" data-sphere="{{sphere.sphere}}">
    {{sphere.label}}: {{sphere.total}}
    <span class="tooltipcontent">
      {{sphere.path}}: {{sphere.total}}
      {{#if sphere.sources.length}}<br><br>{{/if}}

      {{#each sphere.sources as |src|}}
      {{src.name}}: {{src.value}} <br>
      {{/each}}

      {{#if sphere.cappedSources.length}}<br>
      {{localize "PF1SPHERES.CappedByHD"}}: <br> {{/if}}
      {{#each sphere.cappedSources as |src|}}
      {{src.name}}: {{src.value}} <br>
      {{/each}}
    </span>
    </div>
    {{/each}}
  </div>
  <div class="som-levels grid grid-6col" style="display: none">
    {{#each sphereBabs as |sphere|}}
    <div class="sphere tooltip">
    {{sphere.label}}: {{sphere.total}}
    <span class="tooltipcontent">
      {{sphere.path}}: {{sphere.total}}
      {{#if sphere.sources.length}}<br><br>{{/if}}

      {{#each sphere.sources as |src|}}
      {{src.name}}: {{src.value}} <br>
      {{/each}}

      {{#if sphere.cappedSources.length}}<br>
      {{localize "PF1SPHERES.CappedByHD"}}: <br> {{/if}}
      {{#each sphere.cappedSources as |src|}}
      {{src.name}}: {{src.value}} <br>
      {{/each}}
    </span>
    </div>
    {{/each}}
  </div>
  <!-- Talent collabpsibles -->
  <ol class="spheres-list">
    {{#each allSpheres as |sphere|}}
    {{#if sphere.hasTalents}}
    <li class="sphere grid" data-sphere="{{sphere.sphere}}">
      <img class="sphere-icon" src="{{sphere.icon}}"></img>
      <div class="block-header sphere-label flexrow">{{sphere.label}}</div>
      <span class="sphere-info">
        <b>{{localize "PF1SPHERES.TalentPlural"}}</b>: {{sphere.talents.length}}
      </span>
      <span class="sphere-level-label">{{sphere.levelLabel}}</span>
      <div class="sphere-level-value tooltip">{{sphere.total}}
        <span class="tooltipcontent">
          {{sphere.path}}: {{sphere.total}}
          {{#if sphere.sources.length}}<br><br>{{/if}}

          {{#each sphere.sources as |src|}}
          {{src.name}}: {{src.value}} <br>
          {{/each}}

          {{#if sphere.cappedSources.length}}<br>
          {{localize "PF1SPHERES.CappedByHD"}}: <br> {{/if}}
          {{#each sphere.cappedSources as |src|}}
          {{src.name}}: {{src.value}} <br>
          {{/each}}
        </span>
      </div>
      <div class="block-header expand-sphere flexrow">
        {{localize "PF1SPHERES.TalentPlural"}}
        <i class="fas fa-angle-double-down"></i>
      </div>
      <ol class="item-list sphere-talents" {{#if (ne sphere.expandTalents true)}} style="display: none" {{/if}}>
        {{#each sphere.talents as |talent|}}
        <li class="talent grid item" data-item-id="{{talent.id}}">
          <img class="talent-icon" src="{{talent.img}}"></img>
          <div class="talent-name">
            <b>{{talent.name}}</b>
            {{#each talent.tags as |tag|}}
            <span class="talent-tag">
              {{tag}}
            </span>
            {{/each}}
          </div>
          <div class="talent-activation">
            {{talent.activationType}}
          </div>
          <div class="talent-use">
            TODO
          </div>
          <div class="talent-controls">
          </div>
        </li>
        {{/each}}
      </ol>
    </li>
    {{/if}}
    {{/each}}
  </ol>
</div>
